GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-2.5-flash-lite

# Google Ingestion Configuration
INGEST_SHEET_ID=1lRwalTc96V1-VkECfoh3xWOo4gcVY5qctMzH5Q0_aUY
GOOGLE_APPLICATION_CREDENTIALS=google_creds.json

